<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.project">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="34"
        tools:ignore="GradleOverrides" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project"
        android:usesCleartextTraffic="true"
        tools:targetApi="tiramisu"
        android:enableOnBackInvokedCallback="true">

        <activity
            android:name=".LoginActivity"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <activity
        android:name=".MainActivity">
    </activity>

    <activity
       android:name=".JoinActivity">
    </activity>

        <activity
            android:name=".AlarmSetActivity">
        </activity>

        <activity android:name=".PostActivity">
        </activity>

        <activity android:name=".PostListActivity" />

        <meta-data
        android:name="com.kakao.sdk.AppKey"
        android:value="c5d785b57e0418b7b6adba82a298d5f7"/>

</application>
    </manifest>
